@media (min-width: 1024px) {
  .about-me-section {
    margin-top: 5rem;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row-reverse;
    gap: 1rem;
  }

  .mypic {
    position: relative;
  }

  .mypic img {
    height: 30rem;
    width: 32rem;
  }

  .dbar {
    position: absolute;
    top: 15%;
    left: 10%;
  }

  .hi {
    font-size: 1.8rem;
  }

  .naming {
    display: flex;
    flex-direction: column;
    /* row-gap: rem; */
    align-items: first baseline;
    text-align: left;
  }

  .des {
    text-align: left;
    width: 64rem;
  }

  .name {
    font-size: 2.8rem;
  }

  .proffesion-1 {
    font-size: 6rem;
    letter-spacing: 2px;
  }

  .proffesion-2 {
    font-size: 6rem;
    letter-spacing: 3px;
    margin-left: 15rem;
  }

  .line {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .des {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    margin-top: 2rem;
    word-spacing: 3px;
  }

  .header-right-section {
    row-gap: 2rem;
  }

  .hire-me {
    font-size: 1.6rem;
  }

  /*ABOUT ME SECTION*/

  .aboutme-head {
    display: flex;
    gap: 4rem;
    margin-top: 5rem;
  }

  .myimg {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .myimg img {
    height: 30rem;
    width: 30rem;
    z-index: 1;
    margin-top: 2rem;
  }

  .dbar-2 {
    position: absolute;
    top: 25%;
    left: 50%;
  }

  .aboutme {
    row-gap: 0rem;
    align-items: flex-start;
  }

  .aboutme-header {
    font-size: 4.5rem;
  }

  .aboutme-des {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
    word-spacing: 3px;
    width: 62rem;
  }

  .label-range {
    font-size: 1.4rem;
  }

  /* SERVICES SECTION*/

  .services {
    margin-top: 8rem;
    row-gap: 6rem;
  }

  .myservices {
    row-gap: 2rem;
  }

  .service {
    font-size: 4.5rem;
    margin-top: 2rem;
  }

  .services-des {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    /* padding: 0 2rem; */
  }

  .container-skill {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }

  .all-services {
    width: 95rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    row-gap: 2rem;
    column-gap: 3rem;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 2rem;
    width: 250px;
    padding: 1rem;
  }

  .skill-header {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
  }

  .skill-des {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
  }

  /* PROJECTS SECTION */

  .projects {
    row-gap: 4rem;
  }

  .my-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
    margin-top: 8rem;
  }

  .my-project h1 {
    font-size: 4.5rem;
  }

  .pro-btn a {
    border-radius: 5px;
    font-size: 1.4rem;
  }

  .my-project p {
    font-size: 1.4rem;
  }

  .landingpage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .my-design {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }

  /*TESTIMONIALS SECTION*/

  .testimonial-header {
    margin-top: 8rem;
    row-gap: 2rem;
  }

  .testimonial-header h1 {
    font-size: 4.5rem;
  }

  .testimonial-header p {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    left: 25rem;
  }

  .content {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .testimonial-header p {
    font-size: 1.4rem;
    font-weight: 400;
  }

  .contact-us {
    margin-top: 8rem;
  }

  .contact h1 {
    font-size: 4.5rem;
  }

  .contact p {
    font-size: 1.4rem;
  }

  .mail {
    flex-direction: row;
    column-gap: 2rem;
  }

  .mail input {
    padding: 1rem;
    width: 50rem;
  }

  .mail button {
    padding: 1rem;
  }

  .last-s {
    margin-top: 8rem;
    padding-top: 5rem;
  }

  .my-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
  }

  .my-contact a {
    font-size: 1.8rem;
  }

  .copyright p {
    font-size: 1.8rem;
    padding: 1rem;
  }
}

@media (min-width: 1440px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    font-family: " Poppins", sans-serif;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem 6rem;
  }

  /*NAVBAR CSS*/

  h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 58.51px;
  }

  span {
    font-weight: 700;
  }

  .sub-img {
    font-size: 24px;
  }
  .menu-toggle {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  .close-icon {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    padding: 0;
    margin: 0;
    list-style: none;
    background: none;
    position: relative;
    width: 100%;
    height: 50px;
    box-shadow: none;
  }
  .menu li {
    font-size: 1.8rem;
    padding: 1rem;
    font-weight: 400;
    border-radius: 5px;
  }
  /*Introduction section*/

  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-flow: row-reverse;
    gap: 5rem;
  }

  .mypic {
    position: relative;
  }

  .mypic img {
    height: 42rem;
    width: 45rem;
  }

  .dbar {
    position: absolute;
    top: 15%;
    left: 22%;
  }

  .hi {
    font-size: 1.8rem;
  }

  .naming {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: first baseline;
    text-align: left;
  }

  .name {
    font-size: 2.8rem;
  }

  .proffesion-1 {
    font-size: 8rem;
    letter-spacing: 3px;
  }

  .proffesion-2 {
    font-size: 8rem;
    letter-spacing: 3px;
    margin-left: 15rem;
  }

  .line {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  .des {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    margin-top: 2rem;
    word-spacing: 3px;
  }

  .header-right-section {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .hire-me {
    font-size: 1.8rem;
  }

  /*ABOUT ME SECTION*/

  .aboutme-head {
    display: flex;
    gap: 4rem;
    margin-top: 5rem;
  }

  .myimg {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .myimg img {
    height: 40rem;
    width: 40rem;
    z-index: 1;
    margin-top: 2rem;
  }

  .dbar-2 {
    position: absolute;
    top: 25%;
    left: 48%;
  }

  .aboutme {
    row-gap: 0.3rem;
    align-items: flex-start;
  }

  .aboutme-header {
    font-size: 5rem;
  }

  .aboutme-des {
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
    word-spacing: 3px;
    width: 70rem;
  }

  .label-range {
    font-size: 1.8rem;
  }

  /* SERVICES SECTION*/

  .services {
    margin-top: 8rem;
    row-gap: 6rem;
  }

  .myservices {
    row-gap: 4rem;
    column-gap: 4rem;
  }

  .service {
    font-size: 5rem;
    margin-top: 2rem;
  }

  .services-des {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    width: 120rem;
    /* padding: 0 2rem; */
  }

  .container-skill {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .all-services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    row-gap: 2rem;
    column-gap: 3rem;
    width: 115rem;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 2rem;
    width: 250px;
    padding: 1rem;
  }

  .skill-header {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
  }

  .skill-des {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
  }

  /* PROJECTS SECTION */

  .projects {
    row-gap: 6rem;
  }

  .my-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
    margin-top: 8rem;
  }

  .my-project h1 {
    font-size: 5rem;
  }

  .pro-btn a {
    border-radius: 5px;
    font-size: 1.6rem;
  }

  .my-project p {
    font-size: 1.6rem;
    text-align: center;
    width: 130rem;
  }

  .landingpage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .my-design {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }

  .my-design img {
    width: 35rem;
  }

  /*TESTIMONIALS SECTION*/

  .testimonial-header {
    margin-top: 8rem;
    row-gap: 2rem;
  }

  .testimonial-header h1 {
    font-size: 5rem;
  }

  .testimonial-header p {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
  }

  .profile img {
    height: 15rem;
    width: 15rem;
  }

  .card {
    row-gap: 2rem;
    width: 50%;
    left: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .content p {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .contact-us {
    margin-top: 16rem;
  }

  .contact h1 {
    font-size: 5rem;
  }

  .contact p {
    font-size: 1.2rem;
  }

  .mail {
    flex-direction: row;
    column-gap: 2rem;
  }

  .mail input {
    padding: 1rem;
    width: 50rem;
    font-size: 1.2rem;
  }

  .mail button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }

  .last-s {
    gap: 6rem;
    margin-top: 8rem;
    padding-top: 5rem;
  }

  .my-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
  }

  .my-contact a {
    font-size: 2.1rem;
  }

  .copyright p {
    font-size: 2.1rem;
    padding: 1rem;
  }
}
